.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1.0em;
  color: #000000;
  background-color: #FAD5A5;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.form-container {
  width: 400px;
  margin-top: 50px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
    font-size: xx-large;
    font-weight: bolder;
    color: #FF7F50;
    background-color: #ffffff;
    border: 2px solid #FAD5A5;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}

.submit-button:hover {
  background: #FAD5A5;
}